
    <header class="header">
        <div class="header__container">
            <div class="header__logo">
                <img class="header__img" src="/img/bonsai-logo.png" alt="logo">
                <h1 class="header__h1">Bonsai</h1>
            </div>
            <nav class="header__nav"> 
                <span class="header__nav__span">Trees</span>
                <span class="header__nav__span">About us</span>
                <span class="header__nav__span">Contact</span>
            </nav>
            <div class="header__log">
                <img width="32" height="32" src="https://img.icons8.com/retro/32/guest-male.png" alt="guest-male"/>
                <img width="32" height="32" src="https://img.icons8.com/retro/32/shopping-cart-loaded.png" alt="shopping-cart-loaded"/>
            </div>
            <article class="header__article">
                <h2 class="header__article__h2">The best plants under your roof</h2>
                <a href="http://localhost:8080/api/products" class="header__article__btn" id="explore_more_btn">
                    <p>Explore more</p> 
                    <img width="50" height="50" src="https://img.icons8.com/ios/50/FFFFFF/long-arrow-right--v1.png" alt="long-arrow-right--v1"/>
                </a>
            </article>
        </div>
    </header>
 
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>




