<div class="container">
    <h1 id="response"></h1>
    <form id="loginForm" class="login_form"> 

        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Email" class="input">

        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" class="input">

        <button type="submit">Login</button>
    </form>
    <div>
        <a href="/api/users/github"><button>Login with Github</button></a>
    </div> 
</div>


<script src="/js/login.js"></script>