{{#if status}}
    <main class="main">
        <div class="list_container">
            {{#each product}}
                <div class="product_container">
                    {{!-- <p>{{this.category}}</p> --}}

                    <img class="product_container_img" src="{{this.thumbnail}}" alt="img">
                    
                    <h1 class="product_title">{{this.title}}</h1>
                    <p class="product_price">USD {{this.price}}</p>
                </div>
            {{/each}}    
        </div>
    </main>
{{/if}}
 
<script src="/socket.io/socket.io.js"></script>