<main class="main">
    <article class="article">
        <img src="https://www.elevenforum.com/proxy.php?image=https%3A%2F%2Fi.hizliresim.com%2Fqde7y7b.png&hash=8840a7826b2be91b53ca4f36d7726152" alt="" class="article_img">

        <div>
            <ul>
                <li>Nombre: {{product.title}}</li>
                <li>Email: {{product.description}}</li>
                <li>Role: {{product.price}}</li>
            </ul>
        </div>
    </article>
</main>

<script src="/js/productDetail.js"></script> 