<div class="container">
    <form id="signUpForm" class="form_sign_up">

        <label for="name">First name</label>
        <input type="text" name="name" required>

        <label for="lastName">Last name</label>
        <input type="text" name="lastName" required>

        <label for="email">Email</label>
        <input type="email" name="email" required>

        <label for="age">Age</label>
        <input type="number" name="age" required>

        <label for="password">Password</label>
        <input type="password" name="password" required>

        <button type="submit">Sign up</button> 

    </form>
</div>

<script src="/js/signUp.js"></script>