/* MAIN CONTAINER */

.main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 100%;
    max-width: 100%;
    background-image: url(https://img.freepik.com/free-vector/green-fluid-background-frame-vector_53876-162336.jpg?w=360&t=st=1694222212~exp=1694222812~hmac=cc5661ffab460a9d56d3002fcf28b86d15606e65518d923b204a733fea7e1eb0);
    background-size: cover;
}

.list_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.products_title{
    align-self: center;
    padding: 10px;
    font-size: 50px; 
}

.product_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: black;
    max-width: 300px;
    padding: 10px;
    margin: 10px;
}

.product_container_img{
    max-width: 50px;
}